div#title{
	padding: 12px 16px;
	background: rgba(0,0,0,0.4);
	color: white;
	text-align: center;
}

img#image{
	
	width: 70%;
	margin-left: 15% ;
}
p#img-caption {
	text-align: center;
	font-size: 25px;
}

div#tribute-info {
	text-align: center;
	font-size: 28px;
}

div#footer {
	text-align: center;
	font-size: 20px;
}